<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>slievr's site</title>

        <link href="/public/css/main.css" media="all" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <header>
            <nav>

            </nav>
        </header>


        <section class="main-screen">
            <div class="main-screen__feature">
                <h1 class="main-screen__text--lead">slievr</h1>
                <p class="main-screen__text--follow">coding dreams</p>
            </div>
        </section>
        
        <footer>
            <nav>

            </nav>
        </footer>
    </body>
</html>
