<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>slievr's site</title>

        <link href="/assets/public/css/main.css" media="all" rel="stylesheet" type="text/css" />
    </head>
    <body>
        @section('header')
            <header>
                <nav>

                </nav>
            </header>
        @show

        <section class="main-screen">
            <div class="main-screen__feature">
                <h1 class="main-screen__text--lead">slievr</h1>
                <p class="main-screen__text--follow">coding dreams</p>
            </div>
        </section>

        @section('footer')
            <footer>
                <nav>

                </nav>
            </footer>
        @show
    </body>
</html>
