// Brand
$brand-primary: rgb(33, 150, 243);
$brand-secondary: rgb(255,211,217);
$brand-grey: rgb(229,229,229);
$brand-grey2: rgb(187,187,187);

// Messages
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger:  #bf5329;

// Typography
$base-font: "Raleway", sans-serif;
$header-font: "LytigaPro", sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: #636b6f;
