@font-face {
    font-family: 'LytigaPro';
    font-weight: normal;
    font-style: italic;
    src: url('/public/fonts/LytigaPro/lytigapro-italic.eot');
    src: url('/public/fonts/LytigaPro/lytigapro-italic.eot?#iefix') format('embedded-opentype'),url('/public/fonts/LytigaPro/lytigapro-italic.woff2') format('woff2'),url('/public/fonts/LytigaPro/lytigapro-italic.woff') format('woff'),url('/public/fonts/LytigaPro/lytigapro-italic.ttf') format('truetype');
}

@font-face {
    font-family: 'LytigaPro';
    font-weight: normal;
    font-style: normal;
    src: url('/public/fonts/LytigaPro/lytigapro-regular.eot');
    src: url('/public/fonts/LytigaPro/lytigapro-regular.eot?#iefix') format('embedded-opentype'),url('/public/fonts/LytigaPro/lytigapro-regular.woff2') format('woff2'),url('/public/fonts/LytigaPro/lytigapro-regular.woff') format('woff'),url('LytigaPro/lytigapro-regular.ttf') format('truetype');
}
