@font-face {
    font-family: 'LytigaPro';
    font-weight: normal;
    font-style: italic;
    src: url('/fonts/LytigaPro/33AFF0_0_0.eot');
    src: url('/fonts/LytigaPro/33AFF0_0_0.eot?#iefix') format('embedded-opentype'),url('/fonts/LytigaPro/33AFF0_0_0.woff2') format('woff2'),url('/fonts/LytigaPro/33AFF0_0_0.woff') format('woff'),url('/fonts/LytigaPro/33AFF0_0_0.ttf') format('truetype');
}

@font-face {
    font-family: 'LytigaPro';
    font-weight: normal;
    font-style: normal;
    src: url('/fonts/LytigaPro/33AFF0_1_0.eot');
    src: url('/fonts/LytigaPro/33AFF0_1_0.eot?#iefix') format('embedded-opentype'),url('/fonts/LytigaPro/33AFF0_1_0.woff2') format('woff2'),url('/fonts/LytigaPro/33AFF0_1_0.woff') format('woff'),url('LytigaPro/33AFF0_1_0.ttf') format('truetype');
}
